.t1{
    width:144px;
}
.t2{
    width:133px;
}
.t3{
    width:158px;
}
.t4{
    width:164px;
}
.t5{
    width:118px;
}
.t6{
    width:142px;
}
.t7{
    width:147px;
}
.t8{
    width:243px;
}
.tt1{
    width:100px;
}
.tt2{
    width:110px;
}
.tt3{
    width:103px;
}
.tt4{
    width:98px;
}
.tt5{
    width:94px;
}
.tt6{
    width:116px;
}
.tt7{
    width:100px;
}
.tt8 {
    width: 117px;
}
#layer {
    width: 903px;
    height: 400px;
    /*border: 1px solid red;*/
}

.save {
    display: block;
    margin: 0 auto;
}

.select{
    width:60%;
    margin-left:30px;
}
.layer_tab input {
    width:70%;
}
.btnG {
    width: 100%;
    clear: both;
    text-align: center;
}
.save,.reset {
    display: inline-block;
    margin-right:10px;
}
.layerLitTab {
    border:none;
    background: #cbcbcb;
}
.tree {
    width: 100%;
    padding-bottom:20px;
    border-bottom:solid 1px #bebebe;
}
.layer_table{
    height:300px;
    overflow-y: scroll;
}