* {
	font-family: "Microsoft YaHei", 微软雅黑;
	margin: 0 auto;
	font-size: 16px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 312px;
	overflow-y:scroll;
	background: -webkit-linear-gradient(#3675ba, #7ebdf3);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#3675ba, #7ebdf3);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#3675ba, #7ebdf3);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#3675ba, #7ebdf3);
	/* 标准的语法 */
	cursor: pointer;
}
header::-webkit-scrollbar {
	display: none;
}
#head {
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	height: 110px;
	line-height: 110px;
}
.active{
	text-align: left !important;
	padding-left:70px;
}
.head_tit {
	min-height: 68px;
	line-height: 68px;
	font-size: 16px;
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.head_tit a {
	display: block;
	width: 100%;
	height: 68px;
	text-decoration: none;
	font-size: 16px;
	color: #FFFFFF !important;
	line-height: 68px;
	text-align: center;
	position: relative;
}

header li {
	list-style-type: none;
}

ul {
	margin: 0;
	padding: 0;
}

header li a {
	text-decoration: none;
	font-size: 16px;
	color: #FFFFFF !important;
	display: block;
	width: 100%;
	height: 68px;
	line-height: 68px;
	text-align: center;
}

header li a:hover {
	background-color: #3e7dbd;
}

.tit_active>a {
	background-color: #16528c;
}
.head_tit ul {
	display: none;
}

.tit_active ul {
	display: block;
}

.active_li a {
	background-color: #3e7dbd;
}
.head_tit a i{
	position: absolute;
	right: 15px;
}
.head_tit a img{
	position: absolute;
	top: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
	left: 35px;
	vertical-align: middle;
	
}
/*===时间=====*/
#time_div{
	color: #FFFFFF;
	text-align: center;
	margin: 100px 0;
}
#time_div div{
	margin-bottom: 15px;
}
nav {
	width: 100%;
	height: 62px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.icon-search {
	color: #FFFFFF;
	font-size: 18px;
}

#search_div,.search_div_table {
	float: left;
	position: relative;
	height: 34px;
	margin-top: 14px;
	margin-left: 120px;
	background-color: white;
}
.search_div_table {
	height:65px;
	width: 230px;
	text-align: left;
	position:absolute;
	margin-left:0;
	left:0;
	bottom:-65px;
	display: none;
}
#search_div .icon-search{
	position: absolute;
	top: 10px;
	left: 14px;
}
.search_div_table .icon-search {
	position: absolute;
	top: 25px;
	left: 14px;
}
#search_div input,.search_div_table input {
	width: 200px;
	height: 34px;
	outline: none;
	border-radius: 10px;
	border: none;
	background-color: #b5b5b5;
	padding-left: 50px;
}
.search_div_table input {
	margin-top:15px;
	margin-left:5px;
	width: 130px;
	padding-left: 30px;
}
.search_div_table span{
	margin-left:10px;
	color:#3e7dbd;
	cursor: pointer;
}
#right_nav {
	float: right;
	/*margin-top: 20px;*/
	height: 64px;
	line-height: 64px;
	margin-right: 128px;
	cursor: pointer;
	font-size: 18px;
}

#rig_border {
	display: inline-block;
	background-color: #000000;
	width: 1px;
	height: 30px;
	vertical-align: middle;
	margin: 0 15px;
}

section {
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	background-color: #f1f1f1;
	overflow-y: scroll;
	padding-bottom: 150px;
}


/*=========按钮====*/

input[type="button"] {
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
}

.bc {
	background-color: #3979bc;
}

.cb {
	background-color: #5288cb;
}

.ql {
	background-color: #24c66c;
}

.ql:hover {
background-color: #139041;
}
.fz{
	background-color: #cf7317;
}
.ql:hover {
	background-color: #139041;
}
.red {
	background-color: #c22915;
}
.gray {
    background-color: #797979;
}
.violet {
    background-color: #9d0e3f;
}
.sbtn {
	width: 65px;
	height: 34px;
	line-height: 32px;
}
.mbtn {
	width: 86px;
	height: 34px;
	line-height: 32px;
}
.gbtn {
	width: 86px;
	height: 40px;
	line-height: 39px;
}

.zbtn {
	width: 70px;
	height: 36px;
	line-height: 34px;
}

.bbtn{
	width: 114px;
	height: 36px;
	line-height: 34px;
}
/*============*/

#header_input {
	padding-top: 92px;
	padding-left: 125px;
	overflow: hidden;
}
#header_input input{
	float: left;
	
}

#table_div {
	/*margin-left: 125px;*/
	margin-top: 40px;
	/*float: left;*/
}

#table_div table {
	/*margin-left: 0;*/
	border: 1px solid #c9c9c9;
}
#table_div table th {
	position:relative;
}
#table_div table th>i {
	position:absolute;
	top:0;
	left:0;
	display: none;
	width:35px;
	height:32px;
	background-color:#b5b5b5;
	color: #fff;
	font-size:18px;
	text-align: center;
	line-height: 32px;
	z-index:100;
}
tr {
	border: none;
}

tbody {
	border: none;
}

th,
td {
	border-right: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	height: 56px;
	text-align: center;
	cursor: pointer;
}

th {
	font-size: 18px;
	font-weight: 700;
}

td {
	color: #737373;
	font-weight: 600;
}

#page {
	margin-top: 36px;
	color: #7A7A7A;
	overflow: hidden;
	padding-right: 200px;
}

#page_right {
	float: right;
}

#layer {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
}

.layer_tit {
	background-color: #3979bc;
	color: #FFFFFF;
	text-align: center;
	height: 50px;
	line-height: 50px;
	position: relative;
}

.icon-close {
	font-size: 22px !important;
	font-weight: 800;
	cursor: pointer;
	position: absolute;
	right: 22px;
}

.layer_tab {
	height: 46px;
	line-height: 42px;
	/*border: 1px solid #ababab;*/
	margin-bottom: 16px;
	padding-left: 19px;
}
.layer_tab input{
	border: 1px solid #ababab;
	height: 42px;
	outline: none;
	float: right;
	text-indent: 15px;
}

.layer_content {
	padding: 16px 26px;
}

/*============================*/

.select {
	float: right;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    color: #000000;
    vertical-align: middle;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
    height: 46px;
	border: 1px solid #ababab;
	text-indent: 15px;
}
.select .placeholder {
    position: relative;
    display: block;
    background-color: #FFFFFF;
    z-index: 1;
    border-radius: 2px;
    cursor: pointer;
}
.select .placeholder:after {
    position: absolute;
    /*left: 90%;*/
    top: 50%;
	right: 15px;
    transform: translateY(-50%);
    font-family:"iconfont" !important;
	font-size:22px;	
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    content: '\e625';
    z-index: 10;
    color: #000000;
}
.select.is-open .placeholder:after {
    content: '\e625';
}
.select.is-open ul {
    display: block;
}
.select.select--white .placeholder {
    background: #fff;
    color: #999;
}
.select.select--white .placeholder:hover {
    background: #fafafa;
}
.select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
}
.select ul li {
    display: block;
    text-align: left;
    padding: 0.8em 1em 0.8em 1em;
    color: #999;
    cursor: pointer;
}
.select ul li:hover {
    background: #3e7dbd;
    color: #fff;
}

.layer_content table {
	width:100%;
}

/*删除包裹元素*/
.warp {
    display: inline-block;
    position:relative;
}
.layer_del {
    width:206px;
    height:104px;
    margin-top:10px;
    position:absolute;
    top:34px;
    left:-50px;
    z-index:100;
}
.layer_del_tit {
    width:100%;
    height:32px;
    line-height: 32px;
    background-color: #d2d1d1;
    text-align: center;
}
.layer_del_content {
    background-color: white;
    padding:30px 0;
    text-align: center;
}
.layer_del_content .violet {
    margin-left:24px;
}
.layer_agree {
	width:465px;
	height:250px;
	margin-top:10px;
	position:absolute;
	top:34px;
	left:-300px;
	z-index:100;
	background-color: white;
}
.layer_agree_tit {
	padding-top:30px;
	width:100%;
	background-color: white;
	line-height: 40px;
	text-align: center;
}
.layer_agree_content {
	background-color: white;
	padding:30px 0;
	text-align: center;
}
.layer_agree_content .violet {
	margin-left:24px;
}
/*弹出框输入*/
.layer_agree_content input[type="text"] {
	width:70%;
	height:42px;
	display: block;
	margin-bottom:30px;
}
/*========iframe===========*/
#left{
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 312px;
}
#top{
	width:80%;
	display: block;
	position: fixed;
	top:0;
	left: 312px;
	right: 0;
	height: 62px;
	margin: 0 ;
}

#content{
	width:80%;
	display: block;
	position: fixed;
	top: 62px;
	left: 312px;
	right: 0;
	bottom: 0;
	margin: 0 ;
	height: 100%;
}
/*文字颜色*/
.greenT {
	color:#00B83F;
}
.redT {
	color: #c22915;
}
.orangeT {
	color: orangered;
}
.violetT {
	color:#9d0e3f;
}