.tab_name {
    width: 151px;
}

.tab_priority {
    width: 151px;
}
.tab_man{
    width: 130px;
}
.tab_time{
    width: 120px;
}
.tab_do1 {
    width: 120px;
}
.tab_do2 {
    width: 294px;
}
.tab_do3 {
    width: 294px;
}

table .sl,
table .ql {
    margin-left: 60px;
}

#layer {
    width: 390px;
    height: 450px;
    /*border: 1px solid red;*/
}

.save {
    display: block;
    margin: 0 auto;
}

.layer_tab input ,.layer_tab .select{
    width:70%;
}