.t1{
    width:114px;
}
.t2{
    width:114px;
}
.t3{
    width:100px;
}
.t4{
    width:100px;
}
.t5{
    width:80px;
}
.t6{
    width:95px;
}
.t7{
    width:165px;
}
.t8{
    width:70px;
}
.t9{
    width:85px;
}
.t10{
    width:95px;
}
.t11{
    width:210px;
}

#layer {
    width: 756px;
    height: 511px;
    /*border: 1px solid red;*/
}
.layer_content_left {
    width:48%;
    float:left;
}
.layer_content_right {
    float: right;
    width:48%;
}
.select{
    width: 60%;
    /*margin-left:30px;*/
}
.layer_tab input,.layer_tab .select {
    width:65%;
}
.btnG {
    width: 100%;
    clear: both;
    text-align: center;
}
.save {
    margin-right:4%;
}

.ql{
    margin-left: 15px;
}

#main_tit{
    color: #737373;
    font-weight: 600;
    font-size: 16px;
    padding-top: 92px;
    padding-left: 125px;
    overflow: hidden;
}
#main_tit a{
    color: #609edb !important;
    text-decoration: none;
}
