.t1{
    width:153px;
}
.t2{
    width:110px;
}
.t3{
    width:100px;
}
.t4{
    width:80px;
}
.t5{
    width:50px;
}
.t6{
    width:110px;
}
.t7{
    width:60px;
}
.t8{
    width:70px;
}
.t9{
    width:90px;
}
.t10{
    width:84px;
}
.t11{
    width:73px;
}
.t12{
    width:115px;
}
.t13{
    width:105px;
}
.t14{
    width:177px;
}
#layer {
    width: 756px;
    height: 511px;
    /*border: 1px solid red;*/
}
.layer_content_left {
    width:48%;
    float:left;
}
.layer_content_right {
    float: right;
    width:48%;
}
.select{
    width: 60%;
    /*margin-left:30px;*/
}
.layer_tab input,.layer_tab .select {
    width:65%;
}
.btnG {
    width: 100%;
    clear: both;
    text-align: center;
}
.save {
    margin-right:4%;
}

.ql{
	margin-left: 15px;
}
